@use 'styles/tokens';
@use 'styles/accessibility';
@use 'styles/responsive';

/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: var(--ds-font-family);
  background-color: var(--ds-color-background);
  color: var(--ds-color-text-primary);
}
